# =========================
# Python
# =========================
__pycache__/
*.py[cod]

# =========================
# Jupyter Notebooks
# =========================
.ipynb_checkpoints/

# =========================
# Virtual Environments
# =========================
.venv/
venv/
env/

# =========================
# macOS
# =========================
.DS_Store

# =========================
# IDE Settings
# =========================
.vscode/
.idea/